@{
    @using T_Shop.Shared.DTOs.Cart.ResponseModel
    @using T_Shop.Shared.DTOs.User.ResponseModels
    @model CartResponseModel

    var currentUser = ViewContext.HttpContext.Items["CurrentUser"] as UserResponseModel;
}

<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">Cart</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Pages</a></li>
        <li class="breadcrumb-item active text-white">Cart</li>
    </ol>
</div>
<!-- Single Page Header End -->
<!-- Cart Page Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="table-responsive">
            <table class="table" id="cart-table">
                <thead>
                    <tr>
                        <th scope="col">Products</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Total</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                   @if(Model == null)
                    {
                        <div>Cart Empty!</div>
                    } else
                    {
                        @foreach (var item in Model.CartItems)
                        {
                            <tr>
                                <th scope="row">
                                    <div class="d-flex align-items-center gap-3">
                                        <img src="@item.Product.Images?.Find(i => i.isMain)?.imageUrl" class="img-fluid rounded-circle border shadow-sm" style="width: 80px; height: 80px;" alt="Image product">

                                        <h5 style="color:black">@item.Product.Name</h5>
                                    </div>
                                </th>
                                <td>
                                    <p class="mb-0 mt-4 text-success">@item.Product.Price.ToString("N0")</p>
                                </td>
                                <td>
                                    <div class="input-group mt-4" style="width: 100px;">
                                        <div class="input-group-btn">
                                            <button class="btn btn-sm btn-minus rounded-circle bg-light border">
                                                <i class="fa fa-minus"></i>
                                            </button>
                                        </div>
                                        <input type="text" class="form-control form-control-sm text-center border-0 quantity-input" 
                                        value="@item.Quantity" data-item-id="@item.Product.Id" data-original-quantity="@item.Quantity">
                                        <div class="input-group-btn">
                                            <button class="btn btn-sm btn-plus rounded-circle bg-light border">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <p class="mb-0 mt-4 text-success">
                                        @{
                                            var totalPrice = item.Quantity * item.Product.Price;
                                        }
                                        <span class="total-price-item">@totalPrice.ToString("N0")</span>
                                    </p>
                                </td>
                                <td id="actionFields_@item.Product.Id">
                                    <button class="btn btn-md rounded-circle bg-light border mt-4 delete-item" name="removeItem" data-product-id="@item.Product.Id">
                                        <i class="fa fa-times text-danger"></i>
                                    </button>
                                </td>

                            </tr>
                        }
                    }
                   
                </tbody>
            </table>
        </div>
        <div class="row g-4 justify-content-end">
            <div class="col-8"></div>
            <div class="col-sm-8 col-md-7 col-lg-6 col-xl-4">
                <div class="bg-light rounded">
                    <div class="py-4 mb-4 border-top border-bottom d-flex justify-content-between">
                        <h5 class="mb-0 ps-4 me-4">Total</h5>
                        <p class="mb-0 pe-4">@{
                                decimal total = 0;    
                                foreach(var item in Model.CartItems)
                                {
                                    total += item.Quantity * item.Product.Price;
                                }
                            }
                            <span class="cart-total-price">@total.ToString("N0")</span>
                        </p>
                    </div>
                    <button id="checkout-button" class="btn border-secondary rounded-pill px-4 py-3 text-primary text-uppercase mb-4 ms-4" type="button">Checkout</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Cart Page End -->
@section Scripts{

 @* <cache expires-after="" *@

    <script>
        var cartData = @Html.Raw(Json.Serialize(Model));
        // Function to handle quantity change
        $(document).on('input', '.quantity-input', handleQuantityChange);
        // Event handlers for plus buttons
        $(document).on('click', '.btn-minus', function () {
            var input = $(this).closest('.input-group').find('.quantity-input');
            var currentQuantity = parseInt(input.val());

            if (currentQuantity > 1) {
                input.val(currentQuantity - 1).trigger('input');
                handleQuantityChange.call(input);
            }
        });
        // Event handlers for plus buttons
        $(document).on('click', '.btn-plus', function () {
            var input = $(this).closest('.input-group').find('.quantity-input');
            var currentQuantity = parseInt(input.val());

            input.val(currentQuantity + 1).trigger('input');
            handleQuantityChange.call(input);
        });

        function handleQuantityChange() {
            var input = $(this);
            var actionFields = input.closest('tr').find('[id^="actionFields_"]');
            var originalQuantity = parseInt(input.data('original-quantity'));
            var currentQuantity = parseInt(input.val());
            var saveChangeButton = actionFields.find('.save-change-button');

            if (currentQuantity != originalQuantity) {
                if (saveChangeButton.length == 0) {
                    var productId = input.data('item-id');
                    var saveChangeButtonHtml = '<button class="btn btn-md rounded-circle bg-light border mt-4 save-change-button" name="saveChange" data-product-id="' + productId + '"><i class="fa fa-times text-success"></i></button>';
                    actionFields.append(saveChangeButtonHtml);
                }

            } else {
                saveChangeButton.remove();
            }
        }
        // Event handler for saveChange button
        $(document).on('click', '.save-change-button', function () {
            var productId = $(this).data('product-id');
            var quantity = $(this).closest('tr').find('input').val();

            $.ajax({
                url: '/Cart/UpdateCartItem',
                type: 'PUT',
                data: { productId: productId, quantity: quantity },
                success: function (response) {
                    // Fetch the updated content of the CartController index page

                    cartData = response;
                    alert("Update cart success");
                    $.ajax({
                        url: '/Cart',
                        type: 'GET',
                        success: function (data) {
                            // Extract the cart item rows from the fetched HTML content
                            var cartItems = $(data).find('#cart-table tbody').html();
                            // Replace the existing cart item rows with the updated content
                            $('#cart-table tbody').html(cartItems);

                            var totalCartPrice = calculateTotalCartPrice(cartData.cartItems);
                            $('.cart-total-price').text(totalCartPrice.toLocaleString());
                            $('.cart-total-price').data('total', totalCartPrice.toLocaleString());
                        },
                        error: function (xhr, status, error) {
                            // Handle the error response, if needed
                            console.log('Error loading cart page: ' + error);
                        }
                    });

                    console.log('Cart item edited successfully');
                },
                error: function (xhr, status, error) {
                    // Handle the error response, if needed
                    console.log('Error editing cart item: ' + error);
                }
            });
        });

        //Delete item
        $(document).ready(function () {
            $(document).on('click', '.delete-item', function (e) {
                e.preventDefault();
                var productId = $(this).data('product-id');

                $.ajax({
                    url: '/Cart/DeleteCartItem',
                    type: 'DELETE',
                    data: { productId: productId },
                    success: function (response) {
                        // Fetch the updated content of the CartController index page
                        if(response === true)
                        {
                            //update model cart
                            cartData = cartData.cartItems.filter(c => c.productId !== productId);
                            debugger;
                            alert("Item deleted successfully")
                            $.ajax({
                                url: '/Cart',
                                type: 'GET',
                                success: function (data) {
                                    // Extract the cart item rows from the fetched HTML content
                                    var cartItems = $(data).find('#cart-table tbody').html();
                                    // Replace the existing cart item rows with the updated content
                                    $('#cart-table tbody').html(cartItems);
                                    var totalCartPrice = calculateTotalCartPrice(cartData);
                                    $('.cart-total-price').text(totalCartPrice.toLocaleString());
                                    $('.cart-total-price').data('total', totalCartPrice.toLocaleString());
                                },
                                error: function (xhr, status, error) {
                                    // Handle the error response, if needed
                                    console.log('Error loading cart page: ' + error);
                                }
                            });
                        } else {
                            alert("Item deleted failed")
                        }
                        
                
                    },
                    error: function (xhr, status, error) {
                        // Handle the error response, if needed
                        alert("Item deleted failed")
                        console.log('Error deleting item: ' + error);
                    }
                });
            });
        });

        function calculateTotalCartPrice(cartData) {
            debugger;
            var total = 0;
            for (var i = 0; i < cartData.length; i++) {
                total += cartData[i].product.price * cartData[i].quantity;
            }
            debugger;
            return total;
        }

        //Checkout
        $(document).on('click', '#checkout-button', function () {
            var orderData = {
                UserID: cartData.userId,
                ShippingAddress: '123 Main St, City',
                Products: []
            };
            for (var i = 0; i < cartData.cartItems.length; i++) {
                var cartItem = cartData.cartItems[i];
                var productOfOrder = {
                    ProductID: cartItem.product.id,
                    Price: cartItem.product.price,
                    Quantity: cartItem.quantity
                }
                orderData.Products.push(productOfOrder);
            }
            // Send AJAX request to trigger the OrderController's Index action
            $.ajax({
                url: '/Order/CreateOrder',
                type: 'POST',
                data: { orderStr: JSON.stringify(orderData) },
                success: function (response) {
                    // Handle the success response from the server, if needed
                    console.log('Order placed successfully:', response);
                    window.location.href = response.redirectUrl;
                },
                error: function (xhr, status, error) {
                    // Handle any errors that occur during the AJAX request
                    console.error('Error placing order:', error);
                }
            });
        });
    </script>
}