@using T_Shop.Shared.DTOs.Product.ResponseModel
@using T_Shop.Shared.ViewModels.ProductsPage
@model ProductVM

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<!-- Modal Search Start -->
<div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content rounded-0">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Search by keyword</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex align-items-center">
                <div class="input-group w-75 mx-auto d-flex">
                    <input type="search" class="form-control p-3" placeholder="keywords" aria-describedby="search-icon-1">
                    <span id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Search End -->
<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">Shop</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Pages</a></li>
        <li class="breadcrumb-item active text-white">Shop</li>
    </ol>
</div>
<!-- Single Page Header End -->
<!-- Fruits Shop Start-->
<div class="container-fluid fruite py-5">
    <div class="container py-5">
        <h1 class="mb-4">Cars</h1>
        <div class="row g-4">
            <div class="col-lg-12">
                <div class="row g-4">
                    <div class="col-xl-3">
                        <div class="input-group w-100 mx-auto d-flex">
                            <input type="search" class="form-control p-3" placeholder="keywords" aria-describedby="search-icon-1">
                            <span id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></span>
                        </div>
                    </div>
                    <div class="col-6"></div>
                    <div class="col-xl-3">
                        <div class="bg-light ps-3 py-3 rounded d-flex justify-content-between mb-4">
                            <label for="fruits">Default Sorting:</label>
                            <select id="fruits" name="fruitlist" class="border-0 form-select-sm bg-light me-3" form="fruitform">
                                <option value="volvo">Nothing</option>
                                <option value="saab">Popularity</option>
                                <option value="opel">Organic</option>
                                <option value="audi">Fantastic</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row g-4">
                    <div class="col-lg-3">
                        <div class="row g-2">
                            <div class="col-lg-12">
                                <div class="mb-3">
                                    <h4>Types</h4>
                                    @foreach (var type in Model.Types)
                                    {
                                        <div class="mb-2">
                                            <input type="checkbox" class="me-2" value="@type.Name" id="@type.Id" name="type">
                                            <label for="@type.Id">@type.Name</label>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="mb-3">
                                    <h4>Brands</h4>
                                    @foreach (var brand in Model.Brands)
                                    {
                                        <div class="mb-2">
                                            <input type="checkbox" class="me-2" value="@brand.Name" id="@brand.ID" name="brand">
                                            <label for="@brand.ID">@brand.Name</label>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="mb-3">
                                    <h4>Models</h4>
                                    @foreach (var m in Model.Models)
                                    {
                                        <div class="mb-2">
                                            <input type="checkbox" class="me-2" value="@m.Name" id="@m.ID" name="model">
                                            <label for="@m.ID">@m.Name</label>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="mb-3">
                                    <h4>Colors</h4>
                                    @foreach (var color in Model.Colors)
                                    {
                                        <div class="mb-2">
                                            <input type="checkbox" class="me-2" value="@color.Name" id="@color.ID" name="color">
                                            <label for="@color.ID">@color.Name</label>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="mb-3">
                                    <h4 class="mb-2">Price</h4>
                                    <input type="range" class="form-range w-100" id="rangeInput" name="rangeInput" min="0" max="500" value="0" oninput="amount.value=rangeInput.value">
                                    <output id="amount" name="amount" min-velue="0" max-value="500" for="rangeInput">0</output>
                                </div>
                            </div>
     
                        </div>
                    </div>

                    <div class="col-lg-9" id="productList">
                        @* Product List *@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fruits Shop End-->
@section Scripts{
    <script>
        function paginationProductList(pageNumber) {
            console.log("trigger");
            var params = new URLSearchParams(window.location.search);
            console.log(pageNumber);
            params.set('PageNumber', pageNumber);
            history.replaceState(null, '', '?' + params.toString());

            var url = '/product/ProductListPartial?' + params.toString();
            $('#productList').load(url);
        }

        //Fetch and set checkbox checked when first access
        function loadProductListWithFilters() {
            var urlParams = new URLSearchParams(window.location.search);
            var urlType = urlParams.get('Types');
            var urlBrand = urlParams.get('Brands');
            var urlModel = urlParams.get('Models');
            var urlColors = urlParams.get('Colors');

            if (urlType) {
                var types = urlType.split(",");
                types.forEach(function (type) {
                    $('input[name="type"][value="' + type + '"]').prop('checked', true);
                });
            }
            if (urlBrand) {
                var brands = urlBrand.split(",");
                brands.forEach(function (brand) {
                    $('input[name="brand"][value="' + brand + '"]').prop('checked', true);
                });
            }
            if (urlModel) {
                var models = urlModel.split(",");
                types.forEach(function (model) {
                    $('input[name="model"][value="' + model + '"]').prop('checked', true);
                });
            }
            if (urlColors) {
                var colors = urlColors.split(",");
                colors.forEach(function (brand) {
                    $('input[name="brand"][value="' + color + '"]').prop('checked', true);
                });
            }
         
            var url = '/product/ProductListPartial?' + urlParams.toString();

            // Load the updated product list partial from the server
            $('#productList').load(url);
        }

        loadProductListWithFilters();

        //Filter trigger
        $(document).ready(function () {
            // Retrieve the current URL parameters
            var params = new URLSearchParams(window.location.search);
            var types = params.getAll('Types');
            var brands = params.getAll('Brands');
            var models = params.getAll('Models');
            var colors = params.getAll('Colors');

            // Check the checkboxes based on the existing URL parameters
            types.forEach(function (type) {
                $('input[name="type"][value="' + type + '"]').prop('checked', true);
            });

            brands.forEach(function (brand) {
                $('input[name="brand"][value="' + brand + '"]').prop('checked', true);
            });

            models.forEach(function (model) {
                $('input[name="model"][value="' + model + '"]').prop('checked', true);
            });

            colors.forEach(function (color) {
                $('input[name="color"][value="' + color + '"]').prop('checked', true);
            });

            // Update the URL parameters when a type checkbox is clicked
            $('input[name="type"], input[name="brand"], input[name="model"], input[name="color"]').on('change', function () {
                var selectedTypes = [];
                $('input[name="type"]:checked').each(function () {
                    selectedTypes.push($(this).val());
                });

                var selectedBrands = [];
                $('input[name="brand"]:checked').each(function () {
                    selectedBrands.push($(this).val());
                });

                var selectedModels = [];
                $('input[name="model"]:checked').each(function () {
                    selectedModels.push($(this).val());
                });

                var selectedColors = [];
                $('input[name="color"]:checked').each(function () {
                    selectedColors.push($(this).val());
                });

                // Update the URL parameters with the selected types
                if (selectedTypes.length > 0) {
                    params.set('Types', selectedTypes);
                } else {
                    params.delete('Types');
                }

                if (selectedBrands.length > 0) {
                    params.set('Brands', selectedBrands);
                } else {
                    params.delete('Brands');
                }

                if (selectedModels.length > 0) {
                    params.set('Models', selectedModels);
                } else {
                    params.delete('Models');
                }

                if (selectedColors.length > 0) {
                    params.set('Colors', selectedColors);
                } else {
                    params.delete('Colors');
                }

                // Update the URL without refreshing the page
                history.replaceState(null, '', '?' + params.toString());

                var url = '/product/ProductListPartial?PageNumber=1&' + params.toString();
                // Load the updated product list partial from the server
                $('#productList').load(url);
            });
    });
    </script>
}
